.bodyDetail {
    background-image: url("https://i.pinimg.com/originals/1f/4c/26/1f4c26c0f8feec30615f77f787c08612.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.cardDetail {
    width: 500px;
    height: 2;
    border-radius: 20px;
    padding: 5px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 1px solid black;
   }
   
.cardDetail__content {
    background: rgb(5, 6, 45);
    border-radius: 17px;
    width: 100%;
    height: 100%;
}

.positionCardDetail {
    text-align:center;
    position: absolute;
    top: 10%;
    left: 40%;
}

.buttonDetail {
    text-align:center;
    position: absolute;
    top: 80%;
    left: 50%;
}

