/* .card:hover {
  transform: translateY(-1.5rem);
  border: #f2295bf0 0.2em solid;
  border-radius: 2.5rem 0 2.5rem 0;
} */

.card {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 1rem;
  text-align: center;
  border-color: #0a201b;
  align-items: center;
  border: 1px solid #211c42;
  border-radius: 1rem;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 1px solid black;
  width: 180px;
  height: 282px;
}

.countryImage {
  border-radius: 10px;
  align-items: center;
  flex: center;
}

.letras {
  color: aliceblue;
}
